{% extends "index.html" %}
{% block title %}钉钉消息推送中心{% endblock %}

{% block content %}

你好 {{request|islogin1}}
<br>
这里是 {{ all_data['page_'] }}
<h2>{{ all_data['err1'] }}</h2>
<br>
<a href="./add">添加设备</a>
<a href="./del">删除设备</a>
<hr>
<table class="table table-hover">
    <caption></caption>
    <thead>
        <tr class="table-primary">
            <th scope="col">序号</th>
            <th scope="col">名字</th>
            <th scope="col">url</th>
            <th scope="col">时间</th>
        </tr>
    </thead>
    <tbody>
        {% for item in all_data['user_devices'] %}
        <tr>
            <th scope="row">{{loop.index}}</th>
            <td class="btn btn-light">{{item['device_name']}}</td>
            <td>{{ item['device_url'] }}</td>
            <td>{{ item['time2'] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock %}