{% extends "index.html" %}
{% block title %}上传{% endblock %}

{% block content %}
<h1>上传</h1>
<form action="" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="exampleFormControlFile1">选择上传文件(不能超过150mb,稳着点🤞)</label>
        <input type="file" class="form-control-file" name="file">
    </div>
    <input type="hidden" name="y" value="y">
    <div class="form-group">
        <label for="exampleInputPassword1">文件名(选填)记得写上后缀名</label>
        <input type="text" class="form-control" name="file_name">
    </div>
    <input type="hidden" name="y" value="y">
    <div class="form-group">
        <label for="exampleInputPassword1">上传用户</label>
        <input type="text" class="form-control" name="user">
    </div>
    <!-- <div class="form-group">
        <label for="exampleInputPassword1">上传用户</label>
        <input type="text" class="form-control" name="user">
    </div> -->
    <br>
    <button type="submit" class="btn btn-primary">上传</button>
</form>
{% endblock %}